*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100%;
    width: 100%;
    background-color: #7ea5af;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    width: 80%;
    margin: 50px 0px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}


.topnav{
    background-color: #043444;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 6px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content h1{
    font-size: 20px;
    color: white;
    padding: 0px 15px;
}
.content p{
    background: white;
    padding: 7px 15px;
    border-radius: 3px;
    font-weight: bold;
    color: black;
    font-size: 16px;
}

.circle{
    text-align: center;
    padding: 5px 10px;
    height: calc(100% - 90px);
}
.circle h1{
    color: #043444;
    font-size: 26px;
    padding: 100px 0px;
}
.circle .btn{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #0283ad;
    border: none;
    cursor: pointer;
    color: white;
    margin: 6px;
    transition: .9s ease;
}
.circle .btn:hover{
    background-color: #043444;
}
